.app-main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../images/veggies.jpg');
  background-size: cover;
  background-position: center;
}
