.app-main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../images/veggies.jpg');
  background-size: cover;
  background-position: center;
}

.market-map-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 85vh;
  overflow: auto;
}

.market-map-container > div {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .market-map-container {
    flex-direction: column-reverse;
  }

  .market-map-container > div {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .market-map-container {
    height: 81vh;
  }
}
