@import './src/variables';

.zip-code-form-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.zip-code-form {
  color: white;
  height: 250px;
  width: 45%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 20px;
  border: 3px solid khaki;
}

.zip-code-input-label {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0 25px;
  color: cornsilk;
}

.zip-code-input {
  font-size: 1.5em;
  // border-radius: 20px;
  outline: 0;
  border: none;
  letter-spacing: 1px;
  padding: 7px;
  text-align: center;
  appearance: none;
  background-color: transparent;
  border-bottom: 2px solid khaki;
  caret-color: khaki;
  color: cornsilk;
  letter-spacing: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message-container {
  height: 10px;
}

.error-message {
  color: red;
  margin: 0;
}

.submit-zip-code-button {
  font-size: 1.5em;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 5px;
  width: 20%;
  min-width: 100px;
  cursor: pointer;
  outline: 0;
  color: cornsilk;
  background-color: transparent;
  border: 2px solid khaki;
}

.submit-zip-code-button:hover,
.submit-zip-code-button:focus {
  transform: scale(1.05);
}
