.section-market-container {
  width: 40%;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  background-color: cornsilk;
  border-right: 2px solid black;
}

@media screen and (max-width: 1050px) {
  .section-market-container {
    width: 85%;
    margin: auto;
    height: 52%;
  }
}
