@import './src/variables';

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15vh;
}

.header-title {
  color: cornsilk;
  margin: 0;
  font-size: 4em;
  text-align: center;
  width: 70%;
  text-decoration: underline;
}

.zip-code-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 175px;
  height: 85%;
}

.zip-code-par {
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: cornsilk;
  border-radius: 10px;
  width: 90%;
  min-width: 125px;
  text-align: center;
}

.back-button {
  width: 80%;
  color: cornsilk;
  font-weight: 500;
  border-bottom-color: cornsilk;
  background-color: transparent;
  letter-spacing: 0.5px;
  min-width: 145px;
  padding: 5px;
  font-size: 1em;
  // border-radius: 20px;
  // border: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: 0;
  cursor: pointer;
}

.back-button:hover,
.back-button:focus {
  // background-color: $list_hover_color;
  border: 2px solid khaki;
  border-radius: 20px;
  // font-weight: 00;
  // color: black;
  // border: none;
  transform: scale(1.05);
}

.vendor-login-button {
  background-color: transparent;
  color: cornsilk;
  padding: 5px;
  border-radius: 20px;
  font-weight: 500;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.vendor-login-button:hover,
.vendor-login-button:focus {
  border: 2px solid khaki;
  transform: scale(1.05);
}

.vendor-login-button:active {
  transform: scale(.99);
}

.link-to-vendors {
  width: 10%;
  min-width: 125px;
  margin-right: 35px;
  outline: 0;
  text-decoration: none;
}

.vendor-back-button{
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .main-header {
    display: grid;
    grid-template-areas:
      "title title"
      "buttons vendorLogin";
    grid-template-rows: auto;
    grid-template-columns: 65% 35%;
    height: 19vh;
    justify-items: center;
  }

  .zip-code-section {
    flex-direction: row;
    width: 100%;
    grid-area: buttons;
  }

  .header-title {
    width: 100%;
    font-size: 3em;
    grid-area: title;
  }

  .vendor-login-button {
    grid-area: vendorLogin;
  }

  .zip-code-par {
    width: 35%;

  }

  .back-button {
    width: 35%;
    
  }
}
