.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 15vh;
}

.header-title {
  margin: 0;
  font-size: 4em;
  text-align: center;
}

.zip-code-section {
  width: 100px;
  margin: 30px;
}

.vendor-login-button {
  margin-right: 30px;
}

.vendor-back-button{
  border-radius: 10px;
}
