.market-article {
  width: 100%;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.market-selected-link {
  width: 100%;
  text-decoration: none;
  color: black;
}

.market-article-title {
  text-align: left;
  margin: 0;
  width: 90%;
}

.market-article:hover {
  background-color: #DCE7E7;
  font-size: 1.05em;
}
