.section-market-page-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  background-color: white;
  border-right: 2px solid black;
}

.find-vendors-button{
  font-size: 1.5em;
  border-radius: 20px;
  padding: 5px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  outline: 0;
  width: 50%;
  background-color: yellow
}
