.section-market-page-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  background-color: white;
  border-right: 2px solid black;
  margin: auto;
  text-align: center;
}
.section-market-info-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.market-name{
  text-align: center;
}

.market-schedule{
  text-align: center;
}

.find-vendors-button{
  font-size: 1.5em;
  border-radius: 20px;
  padding: 5px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  outline: 0;
  width: 50%;
  background-color: #5E7838;
  color: #FAF6F5;
}
.find-vendors-button:hover,
.find-vendors-button:focus {
  transform: scale(1.05);
}

@media screen and (max-width: 1050px) {
  .section-market-page-container {
    width: 85%;
    margin: auto;
    height: 52%;
  }
}
